<h1>{{ name }}</h1>

<dl>
  <td>Nombre:</td>
  <dd> {{ name }} </dd>

  <td>Edad:</td>
  <dd> {{ age }} </dd>

  <td>Método:</td>
  <dd> {{ getHeroDescription() }} </dd>

  <td>Capitalizado:</td>
  <dd> {{ capitalizedName }} </dd>
</dl>

<button class="btn btn-primary mx-2" *ngIf="showChangeNameButton" (click)="changeName('Spiderman')">Cambiar Nombre</button>
<button class="btn btn-primary" *ngIf="showChangeAgeButton" (click)="changeAge(20)">Cambiar Edad</button>
<button class="btn btn-primary mx-2" (click)="resetForm()">Resetear</button>
